table {
	margin: auto;
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}
th, td:first-child {
background: #ff4200;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 1px 1px 1px 1px;
border-color: white;
}
td {
background: #007f9a;
} 

body {
    background: #007f9a;
     color:white; 
   }
    A {
    color: white; 
   }
   A:visited {
    color: gray; 
   }
   A:active {
    color: white; 
	